<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Zhuo Yixuan">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/Style.css' %}">

    <script src="{% static 'js/Functions.js' %}"></script>

    <title>GoldMiners Portfolio Management</title>
</head>
<body>
    <div class="root">

        <div class="sidebar">
            <div class="sidebar-content">
                <h2>Navigation</h2>
                <!--
                <div class="page-nav">
                    <p class="instructor">Go to: </p>
                    <select class="page-nav-select">
                        <option value="port">Portfolio Manage</option>                
                        <option value="v2">Technical Analyze</option>       
                    </select>
                </div>
                -->

                <h3> Set your Portfolio:</h3>
                <div class="set-params">
                    
                    <form class="Portfolio_Parameter" method="post" action="">
                        <p class="instructor">Input your chosen stock symbols: <br>(<em>split them by ","</em>)</p>
                        <!--后端通过name拿到数据-->
                        <input class="input_value" type = "text" name="port" value='AAPL,AMZN,FB,WMT'
                        onclick="javascript: if(value != ''){value =''}" 
                        onblur="javascript: if(value ==''){value='AAPL,AMZN,FB,WMT'}">
                        <br/>
                        <p class="instructor"> Number of days to predict:<br/>(trading days > 10)</p>
                        <input class="input_value" type = "text" name="days" value='10'
                        onclick="javascript: if(value != ''){value =''}" 
                        onblur="javascript: if(value ==''){value='10'}" 
                        oninput="value=value.match(/-?[0-9]*?[0-9]*/)">
                        <br/>

                        <p class="instructor"> Volatility estimation period:<br/>(previous n days)</p>
                        <input class="input_value" type="text" name='vol' value='30'
                        onclick="javascript: if(value != ''){value =''}"
                        onblur="javascript: if(value ==''){value='30'}"
                        oninput="value=value.match(/-?[0-9]*?[0-9]*/)">
                        <br/>

                        <p class="instructor"> Confidence level:</p>
                        <input class="input_value" type="text" name='conf' value='0.05'
                        onclick="javascript: if(value != ''){value =''}"
                        onblur="javascript: if(value ==''){value='0.05'}"
                        oninput="value=value.match(/-?[0-9]*\.?[0-9]*/)">
                        <br/>

                        <p class="instructor"> Capital invested:</p>
                        <input class="input_value" type = "text" name='w0' value='1000'
                        onclick="javascript: if(value != ''){value =''}" 
                        onblur="javascript: if(value ==''){value='1000'}" 
                        oninput="value=value.match(/-?[0-9]*?[0-9]*/)">
                        <br/>

                        <p class="instructor"> Number of simulations:</p>
                        <input class="input_value" type = "text" name='num_sim' value='300'
                        onclick="javascript: if(value != ''){value =''}" 
                        onblur="javascript: if(value ==''){value='300'}" 
                        oninput="value=value.match(/-?[0-9]*?[0-9]*/)">
                        <br/>

                        <p class="instructor">Set your own weight <br>(<em>split them by ","</em>): </p>
                        <input class="input_value" type = "text" name='weights' value='0.25,0.25,0.25,0.25'
                        onclick="javascript: if(value == '0.25,0.25,0.25,0.25'){value =''}" 
                        onblur="javascript: if(value ==''){value='0.25,0.25,0.25,0.25'}">
                        <br/>
                        <br/>
                        <button class="button" type="submit">Change</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="results">
                <h2>Current stocks</h2>
                <div class="showParams">
                    <br/>
                    <p>Chosen stocks: {{port}}</p>
                    <p>Prediction period: {{days}}</p>
                    <p>Volatility estimation period: {{vol}}</p>
                    <p>Confidence level: {{conf}}</p>
                    <p>Capital invested: {{w0}}</p>
                    <p>Number of simulations: {{num_sim}}</p>
                    <p>Your weights: {{ws}}</p>
                </div>
                <br/>

                <p class="picture_headers">Simulated Efficient Frontier</p>
                <img src="{{ img_ef }}" class="graph">
                <hr/>

                <!--show historical return vol, future return and VaR-->
                <p class="picture_headers">Minimum Volatility Portfolio Allocation:</p>
                <p>{{ minvol }}</p>

                <p class="picture_headers">Minimum Volatility Portfolio future predict(MC simulation)</p>
                <img src="{{ img_min }}" class="graph">

                <p class="picture_headers">Portfolio Information:</p>
                <p>VaR = {{ VaR_min }}</p>
                <p>Annualized return = {{AR_min}}</p>
                <p>Max Drawdown = {{MMD_min}}</p>
                <hr/>

                <p class="picture_headers">Maximum Sharpe Ratio Portfolio Allocation:</p>
                <p>{{ maxshp }}</p>

                <p class="picture_headers">Maximum Sharpe Ratio Portfolio future predict(MC simulation)</p>
                <img src="{{ img_max }}" class="graph">

                <p class="picture_headers">Portfolio Information:</p>
                <p>VaR = {{ VaR_max }}</p>
                <p>Annualized return = {{AR_max}}</p>
                <p>Max Drawdown = {{MMD_max}}</p>
                <hr/>
                
                <p class="picture_headers"> Portfolio future predict(MC simulation): </p>
                <img src="{{ img_mc }}" class="graph">
                <p class="picture_headers">Portfolio Information:</p>
                <p>VaR = {{ VaR_mc }}</p>
                <p>Annualized return = {{AR_mc}}</p>
                <p>Max Drawdown = {{MMD_mc}}</p>

                <br/>
                <br/>
            </div>
        </div>
    </div>
</body>
</html>